@import '../../styles/_config.scss';
@import '../../styles/_mixins.scss';

.Header {
  padding: $spacer-sm 0;
  background: $color-brand;

  @include medium {
    padding: $spacer-lg 0;
  }
}

.Header-wrapper {
  @include wrapper;
}

.Header-logo {
  display: inline-block;
}

.Header-logoImage {
  display: inline-block;
  height: 18px;
  width: auto;

  @include medium {
    height: 25px;
  }
}
