@import '../../../styles/_config.scss';
@import '../../../styles/_mixins.scss';

.NavItem {
  display: inline-block;
  padding: $spacer-sm;

  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(12px);
  font-weight: 600;
  color: #2c3e50;
  border-bottom: 3px solid transparent;

  transition: border 200ms;

  @include medium {
    padding: $spacer $spacer-sm;
    margin-right: $spacer-sm;
    font-size: rem(13px);
  }

  &.is-active,
  &:hover {
    border-bottom: 3px solid $color-fav;
  }
}
